{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{- if .Content }}
{{- if .IsHome }}
<hr/>
{{ end -}}
{{ end -}}

  <div class="grid-container">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}

    {{ range (where $pages "Section" "!=" "") }}
    <div class="grid-item">
      {{ $title := .Title | markdownify }}
      {{ $relpermalink := .RelPermalink }}
      {{ with .Params.MetaImage }}
      <a href="{{ $relpermalink }}" >{{ $title }}</a>
      <img src="{{ . }}">
      {{ else }}
      <a href="{{ .RelPermalink }}" style="text-decoration: none"> {{$title}} </a>
      {{ end }}
    </div>
    {{ end }}
  </div>


{{ partial "footer.html" . }}
