{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{- if .Content }}
{{- if .IsHome }}
<hr/>
{{ end -}}
{{ end -}}

  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages.ByDate }}{{ end }}

    <ul>
    {{ range (where $pages "Section" "!=" "") }}
    <li>
      {{ $title := .Title | markdownify }}
      <a class="contents" href="{{ .RelPermalink }}" > 
       <time>{{ .Date.Format "2020/12/1" }}</time>
       {{ $title }}
      </a>
    </li>
    {{ end }}
    </ul>


{{ partial "footer.html" . }}
