{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{- if .Content }}
{{- if .IsHome }}
<hr/>
{{ end -}}
{{ end -}}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    {{- with .Date -}}
    <span class="date">{{ .Format "2006/01/02" }}</span>
    {{ end -}}
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>

  {{ end }}
</ul>

{{ partial "footer.html" . }}
