{{- $articleMetaBackgroundColor := .Site.Params.Css.Article.Meta.Background.Color | default "#eee" -}}
{{- $hrBorderStyle := .Site.Params.Css.Hr.BorderStyle | default "dashed" -}}
{{- $hrColor := .Site.Params.Css.Hr.Color| default "#ddd" -}}
{{- $codeBackgroundColor := .Site.Params.Css.Code.Background.Color| default "#f9f9f9" -}}
{{- $blockquoteBackgroundColor := .Site.Params.Css.Blockquote.Background.Color| default "#f9f9f9" -}}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: {{ $articleMetaBackgroundColor }};
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: {{ $hrBorderStyle }};
  color: {{ $hrColor }};
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: {{ $codeBackgroundColor }}; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: {{ $blockquoteBackgroundColor }};
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
