<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
   {{ partial "meta.html" . }}
   {{ partial "favicon.html" . }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
   {{ partial "css.html" . }}
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <a class="skip-link" href="#maincontent">Skip to main</a>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
